<h1>PhotoLoad</h1>
<% if Photo.all != nil %>
<% Photo.all.each do |image| %>
  <%= image_tag image.image(:thumb) %>
  posted_by <%= User.find(image.user_id).name %>
  <% end %>
<% else %>
<p>No photos availible</p>
<% end %>
